<html>
<!-- ====== HEAD ====== -->
<head>
    <% include parts/head %> 
    <% include parts/bootstrap %> 
    <!-- CSS -->   
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/index.css">
    <!-- == -->
    <!-- JS -->
    <script src="/js/index.js"></script>
    <!-- == -->
</head>
<!-- ====== ==== ====== -->
<!-- ====== BODY ====== -->
<body>
    <div>
        <div>
            <% include parts/nav %> 
        </div>
        <div>
            <!-- TEXTO AQUI -->
            <div>
                <p>
                    Esta pàgina forma parte de un proyecto mayor que consiste en la creación 
                    de un servidor web, desarrollado en Node.js, framework para JavaScript en
                    lado servidor. 
                    
                    Usamos varios modulos, para la creación del servidor usamos el modulo Express.js
                    asi es más simple. Para todos los elementos que funcionan a timepo real usan el 
                    framework Socket.io 
                    
                    A parte de todos los frameworks usamos modulos propios de Node.js para la connexion 
                    con la base de datos, el manejo de las diferentes sessiones de los usuarios, la seguridad, 
                    modulos para la encriptacion de los passwords, etc...
                </p>
            </div>
            <h1> <a href="/login"> LOG IN </a> or <a href="/singup"> SING UP </a> </h1>
        </div>
        <div>
            <% include parts/footer %>
        </div>
    </div>
</body>
<!-- ====== ==== ====== -->
</html>