<html>
<!-- ====== HEAD ====== -->
<head>
    <% include parts/head %> 
    <% include parts/bootstrap %> 
    <!-- CSS -->   
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/login.css">
    <!-- == -->
    <!-- JS -->
    <script src="/js/login.js"></script>
    <!-- == -->
</head>
<!-- ====== ==== ====== -->
<!-- ====== BODY ====== -->
<body>
    <% include parts/nav %> 
    <div id="body">
        <form action="/login" method="post">
            Username: 
            <input type="text" name="username" id="username">
            Password: 
            <input type="password" name="password" id="password">

            <input type="submit">
        </form>
    </div>
    <% include parts/footer %>
</body>
<!-- ====== ==== ====== -->
</html>