<html>
<!-- ====== HEAD ====== -->
<head>
    <% include parts/head %> 
    <% include parts/bootstrap %> 
    <!-- CSS -->   
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/chat.css">
    <!-- == -->
    <!-- JS -->
    <script src="/js/chat.js"></script>
    <!-- == -->
</head>
<!-- ====== ==== ====== -->
<!-- ====== BODY ====== -->
<body>
    <% include parts/nav %> 
    <form action="/login" method="post">
        <input type="text" name="username" id="username" placeholder="Username">
        <input type="password" name="password" id="password" placeholder="Password">
        <button type="submit"> Log In </button>
    </form>
    <% include parts/footer %>
</body>
<!-- ====== ==== ====== -->
</html>