<html>
<!-- ====== HEAD ====== -->
<head>
    <% include parts/head %> 
    <% include parts/bootstrap %> 
    <!-- CSS -->   
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/login.css">
    <!-- == -->
    <!-- JS -->
    <script src="/js/login.js"></script>
    <!-- == -->
</head>
<!-- ====== ==== ====== -->
<!-- ====== BODY ====== -->
<body onload="init()">
    <% include parts/nav %> 
    <form action="/login" method="post">
        <input type="text" name="username" id="username" placeholder="Username">
        <input type="password" name="password" id="password" placeholder="Password">
        <% if (message.length > 0) { %>
            <div class="alert alert-danger">
              <%= message %>
            </div>
        <% } %>
        <div id="submit"> <button type="submit"> Log In </button> </div>
    </form>
    <% include parts/footer %>
</body>
<!-- ====== ==== ====== -->
</html>