<header>
    
    <div id="inicio"> 
        <img src="img/favicon.ico" alt="">
        DAW WEB 
    </div>
    
    <div id="links">
        
        <label id="menu"> MENU </label>
        <div> CHAT </div>
        <div> CODE </div>
        <div> SINGUP </div>
        <div> SINGIN </div>
        
    </div>
    
</header>