<header>
    <nav>
        <div> <img src="/img/favicon.ico" width="35" height="35"> DAW PROJECT </div>
        <div id="navbarNav">
            <ul >
                <li >
                    <a href="/sharedCode"> Shared Code </a>
                </li>
                <li >
                    <a  href="/chat"> Chat </a>
                </li>
                <li >
                    <a  href="/login"> Login </a>
                </li>
                <li >
                    <a  href="/singup"> Sing Up </a>
                </li>
            </ul>
        </div>
    </nav>
</header>