<header id="header">
    <nav>
        <img src="/img/favicon.ico"> </a>
        <a href="/"> DAW WEB </a>
        <ul>
            <li>
                <a href="/chat"> CHAT </a> 
            </li>
            <li> 
                <a href="/code"> CODING ZONE </a>
            </li>
            <li id="singup"> 
                <a href="/singup"> SingUp </a>
            </li>
            <li id="singin">
                <a href="/login"> SingIn </a> 
            </li>  
        </ul>
    </nav>
</header>    